{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    ["@babel/transform-runtime", { "corejs": 3 }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "11"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
